<html>
<head>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where Am I | Entry</title>

    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="entryForm.js" defer></script>
</head>
<body id="entry-form">
	<header>
		<h1>Share your location with your collegues!</h1>
	</header>
	<section id="search">
		<p class="criteria">
			<input type="text"
					placeholder="Where are you?"
					v-model="searchTerm">
			<input type="checkbox"
					v-model="offline">Offline</input>
		</p>
		<table cellspacing=0>
			<thead>
				<tr><th>Place</th><th>Country</th><th>Lat/Long</th><th></th></tr>
			</thead>
			<tbody>
				<tr v-for="place in offlineLocations">
					<td>{{ place.name }}</td>
					<td>{{ place.country }}</td>
					<td>{{ place.latitude }}, {{ place.longitude }}</td>
					<td><button>Select</button></td>
				</tr>
			</tbody>
		</table>
	</section>
	<hr>
	<section id="pending-checkins">
		<h2>Pending Checkins</h2>
		<table cellspacing=0>
			<thead>
				<tr><th>Date/Time</th><th>Place</th><th>Country</th><th>Lat/Long</th></tr>
			</thead>
			<tbody>
				<tr v-for="checkin in pendingCheckins">
					<td>{{ checkin.entryDateTime }}</td>
					<td>{{ checkin.name }}</td>
					<td>{{ checkin.country }}</td>
					<td>{{ checkin.latitude }}, {{ checkin.longitude }}</td>
				</tr>
			</tbody>
		</table>
		<div class="button-actions">
			<button>Submit Pending Checkins</button>
		</div>
	</section>
	
		<section>
		<h2>My Checkin History</h2>
		<table cellspacing=0>
			<thead>
				<tr><th>Date/Time</th><th>Place</th><th>Country</th><th>Lat/Long</th></tr>
			</thead>
			<tbody>
				<tr v-for="checkin in checkinHistory">
					<td>{{ checkin.entryDateTime }}</td>
					<td>{{ checkin.name }}</td>
					<td>{{ checkin.country }}</td>
					<td>{{ checkin.latitude }}, {{ checkin.longitude }}</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>