* {
  font-family: "Nunito Sans",sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
  padding: 1em;
  background-color: #fafafa;
}

table {
	margin-bottom: .5em;
}

thead tr {
	background-color: #bbb;
}

tr {
	margin: 0;
	padding: 0;
}

tbody tr {
	transition-duration: .2s;
}
tbody tr:hover {
	background-color: #99f;
	transition-duration: .5s;
}

td, th {
	padding: .25em;
	padding-left: .75em;
	min-width: 100px;
}

button {
	border-color: navy;
	background-color: #ccf;
	border-radius: 5px;
	padding: 4px 7px;
	transition-duration: .2s;
}

button:hover,
button:focus {
	background-color: white;
	transition-duration: .5s;
}

.button-actions {
	margin-top: .5em;
}
